body {
	margin: 0;
	font-family: Tahoma,sans-serif;
	font-size: 14px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #aaa;
	color: #fff;
	line-height: 50px;
	font-size: 24px;
	padding: 0 10px;
	box-sizing: border-box;
}

.main {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 30px;
	width: 100%;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 60px;
	background-color: #ccc;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	list-style-type: none;
}

.menu li a {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 5px;
	text-decoration: none;
	color: #000;
	margin-bottom: 5px;
}

.submenu {
	position: absolute;
	top: 0;
	left: 60px;
	bottom: 0;
	width: 200px;
	background-color: #eee;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	list-style-type: none;
}

.submenu li {
	margin-bottom: 3px;	
}

.submenu li a {
	color: #000;
	text-decoration: none;
}

.submenu li a:hover {
	text-decoration: underline;
}

.content {
	position: absolute;
	top: 0;
	left: 260px;
	bottom: 0;
	right: 0px;
	box-sizing: border-box;
	padding: 10px;
	overflow-y: scroll;
	min-width: 500px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background-color: #aaa;
	padding: 0 10px;
	box-sizing: border-box;
	color: #fff;
}

.footer .version {
	float: right;
}

/****************************************
    Common
****************************************/

.filter {
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px dotted #ccc;
}

.filter input,
.filter select {
	width: 100%;
	box-sizing: border-box;	
}

.list-header {
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.list-header a {
	float: left;
	width: 150px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	text-align: center;
	background-color: #888;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.list-header input {
	display: block;
	float: left;
	width: 200px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 5px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.list {
	width: 100%;
	box-sizing: border-box;
	border-spacing: 0;
	border-collapse: collapse;
}

.list thead th {
	text-align: left;
	padding: 3px;
	cursor: pointer;
}

.list tbody tr {
	cursor: pointer;
}

.list tbody tr:hover {
	background-color: #eee;
}

.list tbody td {
	white-space: nowrap;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 3px;
}

.form {
	width: 100%;
}

.form .input {
	width: 100%;
}

.form .input .row {
	margin-bottom: 5px;	
}

.form .input textarea {
	width: 100%;
	box-sizing: border-box;
	height: 300px;
	padding: 10px;
}

.form .input input {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	padding: 0 10px;	
}

.form .buttons {
	width: 100%;
	margin-top: 5px;
}

.form .buttons input {
	display: inline-block;
	width: 200px;
	height: 40px;
	background-color: #888;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
}

:invalid {
	box-shadow: none;
}

/****************************************
    Contact
****************************************/

.list a .name {
	font-weight: bold;
}

.contactContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow-y: scroll;
	padding: 10px;
}

.contactAdd {
	left: 200px;
}

.contactEdit {
	left: 450px;
}

/****************************************
    Mail
****************************************/

.mailNew {
	left: 200px;
}

.mailView {
	left: 450px;
}

.mail-detail {
	box-sizing: border-box;
	width: 100%;
}

.mail-detail div {
	width: 100%;
	background-color: #eee;
	margin-bottom: 2px;
}

.mail-detail .ref {
	font-weight: bold;
}

.mail-detail .body {
	background-color: transparent;
	margin: 8px 0;	
}

.mail-detail div span {
	display: inline-block;
	width: 70px;
	margin-right: 10px;
	text-align: right;
	color: #666;
}

.mail-detail .ref span {
	font-weight: normal;	
}
